body {
    font-family: Arial;
}

main {
    max-width: 950px;
    margin: 0 auto;
    background: lightblue;
    min-height: 30vh;
    padding: 45px 30px;
}

h1, h3 {
    text-align: center;
}

h1 {
    font-size: 30px;
    margin-bottom: 35px;
}

h2 {
    font-size: 25px; 
    margin-bottom: 35px;    
}

h3 {
    font-size: 20px;
    margin: 35px 0;
}

button {
    display: block;
    background-color: darkgreen;
    color: #fff;
    margin: 35px auto 0;
    padding: 10px;
    font-size: 25px;
}

input {
    margin-bottom: 25px;
}

li {
    margin-bottom: 5px;
}